<html>
    <body>
        <h1>Login</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="/login">
            <p>Username:</p>
            <input name="username" placeholder="Username">
            <p>Password:</p>
            <input name="password" placeholder="Password">
            <button action="submit">Login</button>
        </form>
    </body>
</html>